@{
    ViewData["Title"] = "Lista wydarzeń";
    @model IEnumerable<Event>;
} 

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <!-- @Url.Action("GetPhoto", @item.Photo) -->
                    <img class="card-img-top img-fluid" src="~/img/orangewarsawfestival2021.png" />
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p class="card-text">@item.Description</p>
                        <a target="_blank" rel="noopener noreferrer" href="@item.FacebookURL" class="btn btn-warning">Przejdź do wydarzenia</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/warsawsummerdays2.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">29. Warsaw Summer Jazz Days</h4>
                    <p class="card-text">29 edycja międzynarodowego festiwalu jazzowego Warsaw Summer Jazz Days odbędzie się w dniach 09-12 lipca 2020: 9 VII – Zgniłość, Algorhythm, Maciej Obara Quartet10 VII – Kuba Więcek Quartet, Piotr Damasiewicz Trio, Adam Pierończyk Trio
                    11 VII – Kasia Osterczy Trio
                    Błoto
                    EABS – Tribute to Sun Ra 
                    12 VII – Damian Hyra Quartet, Marcin Masecki Trio</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/tauronnowamuzyka2020.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Tauron Nowa Muzyka Katowice 2020</h4>
                    <p class="card-text">Między 27 a 30 sierpnia katowicką Strefę Kultury znów opanują najświeższe i najbardziej intrygujące dźwięki z całego świata. Tauron Nowa Muzyka Katowice to jeden z najbardziej cenionych festiwali muzycznych w Europie, a jego status potwierdza co roku fascynujący program artystyczny i niebanalna lokalizacja w sercu Śląska.</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/warsawmotorcycleshow2020.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Warsaw Motorcycle Show / III edycja</h4>
                    <p class="card-text">Premiery najlepszych światowych marek, spotkania z zawodnikami motorsportu i znanymi pasjonatami jednośladów, prezentacje klubów i stowarzyszeń motocyklowych z całego kraju, szkolenia z bezpieczeństwa jazdy - to wszystko czeka na odwiedzających największe w Polsce i jednocześnie trzecie największe targi motocyklowe w całej Europie!</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/andreabocelli.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">ANDREA BOCELLI - Tauron Arena Kraków 2020</h4>
                    <p class="card-text">Wybitny włoski tenor Andrea Bocelli wystąpi w listopadzie 2020 roku, w TAURON Arenie Kraków. Ten wyjątkowy, ceniony na całym świecie artysta powraca po 3 latach do stolicy małopolski. Jego koncerty od lat cieszą się niezwykłą popularnością, a bilety zostają wyprzedane na długo przed datą wydarzenia.</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/maratonkarkonoski.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">XII Maraton Karkonoski</h4>
                    <p class="card-text">XII MARATON KARKONOSKI | Szklarska Poręba 2020
                    Najpiękniejszy maraton górski w Europie Centralnej w 2020 roku odbędzie się 25 lipca. W ramach zawodów rozegrane zostaną dwa dystanse:
                    <p></p>
                    *ULTRAMARATON
                    *PÓŁMARATON
                    <p></p>
Maraton górski poprowadzony pomiędzy dwiema kumulacjami Karkonoszy Szrenicą i Śnieżką. Poznaj piękno Karkonoszy w biegu!</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/roztanczonypgenarodowy.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Roztańczony PGE Narodowy 2020</h4>
                    <p class="card-text">JUŻ DZIŚ KUP BILETY NA EDYCJE 2020!
TYLKO TERAZ NAJLEPSZE MIEJSCA W NAJNIŻSZYCH CENACH! https://www.ebilet.pl/muzyka/disco-polo/roztanczony-narodowy/
CLEO/KRZYSZTOF KRAWCZYK/THOMAS ANDERS & MODERN TALKING BAND / AKCENT / BOYS / TOP GIRLS / RONNIE FERRARI / BORYS LBD / WEEKEND</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/img/orangewarsawfestival2021.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Orange Warsaw Festival 2021</h4>
                    <p class="card-text">Zachowując swój bilet na Orange Warsaw Festival 2020 zyskujesz gwarancję udziału w festiwalu w 2021 roku w najlepszej cenie. W ten sposób wspierasz również artystów i cały świat muzyczny w czasach pandemii. Nowe daty Orange Warsaw Festival to 4 i 5 czerwca 2021! Duża część tegorocznego programu powróci w przyszłym roku, a do tego pojawi się sporo nowych artystów! Już dzisiaj będziemy mieli dla Was pierwsze ogłoszenie!</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/Eventstacktest-109139734073006/events/?ref=page_internal" class="btn btn-warning">Przejdź do wydarzenia</a>
                </div>
            </div>
        </div>
    </div>